[submodule "Web development V2/WEEK TWO/feb-2025-advanced-html-mumbua-mutinda"]
	path = Web development V2/WEEK TWO/feb-2025-advanced-html-mumbua-mutinda
	url = https://github.com/PLP-WebTechnologies/feb-2025-advanced-html-mumbua-mutinda
